$HEADER_HEIGHT: 100px;
$OPTIONS_BACKGROUND_COLOR: white;
$NOTE_WIDTH: 220px;

* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-family: "Roboto", sans-serif;
  background: pink;
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  margin: 15px;
  box-shadow: inset 0 0 5px yellow;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: yellow;
  border-radius: 1rem;
}

.rotate {
  transform: rotate(-90deg);
  transform-origin: top left;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: $HEADER_HEIGHT;
}

.notes-boundary {
  position: absolute;
  top: $HEADER_HEIGHT;
  left: 0;
  right: 0;
  margin: auto;
  height: calc(100vh - #{$HEADER_HEIGHT});
}

.note.react-draggable {
  position: absolute;
  word-wrap: break-word;
  width: $NOTE_WIDTH;

  .animal-header {
    display: flex;

    img {
      width: $NOTE_WIDTH;
    }
  }

  .note-author {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1rem;
    width: calc(#{$HEADER_HEIGHT} * 2);
  }
  
}

.options {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  z-index: 0;
  background-color: $OPTIONS_BACKGROUND_COLOR;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  i {
    z-index: 1;
    padding: .5rem;
  }
  
  i:hover {
    cursor: pointer;
    background-color: darken( $OPTIONS_BACKGROUND_COLOR, 10% );
  }

  .draggable-area {
    height: 100%;
    flex-grow: 1;
  }

  .draggable-area:hover {
    cursor: move;
  }
}

.note-content {
  display: flex;
  flex-direction: column;
  background-color: white;

  textarea {
    resize: none;
    font-size: 1.2rem;
  }

  textarea:focus-visible {
    outline: none;
  }

  .note-title {
    text-align: center;
    font-size: 1.2rem;
    background-color: yellow;
    margin-bottom: 1rem;
  }

  .note-text {
    height: 200px;
    text-align: left;
    background-color: darken( $OPTIONS_BACKGROUND_COLOR, 20% );
    margin: 0 30px;
    padding: 1rem;
    border-radius: 1rem;
    overflow-y: auto;

    * {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }
}